/* Larger screens */

/* Post Container */
#post-area { flex: 3; }

#post-area .post-list {
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

#post-area .post-list .post-card:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
