/* Mobile version */

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background: #e0f9e4;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h2 {
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}

img { width: 100%; }

ul { list-style: none;}

/* Header */
#header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #fff;;
}

#header h1 {
  font-weight: 800;
}

#header .navbar-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header .navbar-container ul li { padding: .5rem 1rem; }

/* Intro Section */
#intro-container {
  /* text-align: center; */
  height: 50vh;
}

#intro-container .intro-content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;
  text-align: center;
}

/* Post Section */
#post-container { background: #849974; }

.post-card { background: #fff; }

/* Footer */
#footer { background: #fff; }