/* Mobile version */

/* Google Font */

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: ; */
  line-height: 1.4;
  background: #e0f9e4;
  /* color: ; */
}

a {
  text-decoration: none;
  /* color: ; */
}

h2 {
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}

img { width: 100%; }

ul { list-style: none;}

/* Test colors */
#header, 
#footer {
  background: #fff;
}

.post-card:nth-child(1n) {
  background: #7ceac9;
  color: #fff;
}

.post-card:nth-child(2n) {
  background: #57abe4;
  color: #fff;
}

.post-card:nth-child(3n) {
  background: #262043;
  color: #fff;
}

/* Header */
#header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#header .navbar-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header .navbar-container ul li { padding: .6rem 1rem; }

/* Intro Section */
